{% extends "html.twig" %}

{% set docTitle = 'Homepage' %}

{% set bodyAttributes = {
class: 'ltr'
}%}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block body %}

<div id="main">

  <div class="container">
    <div class="mainContent">
      <div class="formulier">
        <div class="loader__wrapper hidden" id="loader__wrapper">
          <div class="loader"></div>
        </div>
        <div id="formulier">
          {% set form = craft.formie.forms.handle('kalender').all() %}
          {{ craft.formie.renderForm('kalender') }}
        </div>
      </div>
    </div>
    <div class="mainContent">
      {% set previewImage = entry.previewImage.one() %}
      <img src="{{ previewImage.getUrl('') }}" alt="{{ previewImage.title }}">
    </div>
  </div>
</div>

<script>
  (() => {
    const allFields = Array.from(document.querySelectorAll('[name="fields[voornaam]"],[name="fields[achternaam]"],[name="fields[aantalPersonen]"],[name="fields[adres][address1]"],[name="fields[adres][address2]"],[name="fields[adres][city]"],[name="fields[adres][state]"], [name="fields[aankomstDatum][datetime]"], [name="fields[vertrekDatum][datetime]"], [name="fields[drop]"]'));
    const fields = Array.from(document.querySelectorAll(' [name="fields[aankomstDatum][datetime]"], [name="fields[vertrekDatum][datetime]"], [name="fields[drop]"]'));
    const hiddenFields = Array.from(document.querySelectorAll('.fui-hidden'));
    const Submit = Array.from(document.querySelectorAll('[data-submit-action="submit"]'));
    const voornaam = Array.from(document.querySelectorAll('[name="fields[voornaam]"]'));
    
    
    Submit.forEach(e => e.disabled = true)
    fields.forEach((a) => a.addEventListener('change', () => {
      // als alle ingevulde velden voldoen aan een true value dan komen de rest van de velden tevoorschijn 
      if (fields.filter(field => field.value).length === fields.length) {
        document.getElementById("loader__wrapper").classList.remove('hidden')
        const fd = new FormData(document.querySelector('form'))
        fd.delete('action');
        fetch('/Api/available', {
          method: 'POST',
          body: fd,
        }).then(response => response.json()).then((res) => {
          document.getElementById("loader__wrapper").classList.add('hidden')
          if (res.success) {
            // als er plek is dan komen de rest van de velden tevoorschijn 
            hiddenFields.forEach(e => e.classList.remove('fui-hidden'))
          } else if (res.noSuccess) {
            document.getElementById("loader__wrapper").classList.add('hidden')
            // als er een andere plek of datum gekozen en er is geen plek dan verbergen de velden weer 
            hiddenFields.forEach(e => e.classList.add('fui-hidden'))
          }
        })
      } else {        
        // als niet alle ingevulde velden voldoen aan een true value dan verbergen alle velden weer {#  #}
        hiddenFields.forEach(e => e.classList.add('fui-hidden'))
      }
    })
    )
   //HIER TUSSEN 
   allFields.forEach((a) => a.addEventListener('change', () => { 
    if (allFields.filter(field => field.value).length === allFields.length) { 
      document.getElementById("loader__wrapper").classList.remove('hidden')
   const fd = new FormData(document.querySelector('form'))
        fd.delete('action');
        fetch('/Api/validator', {
          method: 'POST',
          body: fd,
        }).then(response => response.json()).then((res) => {
          document.getElementById("loader__wrapper").classList.add('hidden')
         
          if (res.success) {
            // als er plek is dan komen de rest van de velden tevoorschijn 
            Submit.forEach(e => e.disabled = false)
          } if (res.noSuccess){
            Submit.forEach(e => e.disabled = true)
          }
            
        })
      }
      }))

  // HIER TUSSEN 
  }
  )();
</script>

{% endblock %}
{# 
 allFields.forEach((a) => a.addEventListener('change', () => {
      
      // als alle velden zijn ingevuld dan kan de submit knop gebruikt worden 
     // if (allFields.filter(field => field.value).length === allFields.length) 
    if(allFields.filter(field => field.value).length === allFields.length)
     {
      
        Submit.forEach(e => e.disabled = false)
      } else {
        // als één of meer van de velden niet ingevuld zijn, of leeg gemaakt worden dan verbergt de submit knop weer
        Submit.forEach(e => e.disabled = true)
      }
    }))
#}