{% extends "html.twig" %}

{% set docTitle = 'Homepage' %}

{% set bodyAttributes = {
class: 'ltr'
} %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}

<div id="main">
  <div class="container">
    <div class="mainContent">
      <div class="formulier">
        {% set form = craft.formie.forms.handle('kalender').one() %}
        {{ craft.formie.renderForm('kalender') }}
      </div>
    </div>
    <div class="mainContent">
      {% set previewImage = entry.previewImage.one() %}
      <img src="{{ previewImage.getUrl('') }}" alt="{{ previewImage.title }}">
    </div>
  </div>
</div>

{% endblock %}