{% extends "html.twig" %}

{% set docTitle = 'Homepage' %}

{% set bodyAttributes = {
class: 'ltr'
} %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}

<div id="main">
  <div class="container">

    <div class="mainContent">
      <div class="formulier">
        {% set form = craft.formie.forms.handle('kalender').all() %}
        {{ craft.formie.renderForm('kalender') }}
      </div>

    </div>
    <div class="mainContent">
      {% set previewImage = entry.previewImage.one() %}
      <img src="{{ previewImage.getUrl('') }}" alt="{{ previewImage.title }}">
    </div>

  </div>
</div>



<script>

  (() => {
    const fields = Array.from(document.querySelectorAll('[name="fields[aankomstDatum][datetime]"], [name="fields[vertrekDatum][datetime]"], [name="fields[drop]"]'));
    const hiddenFields = Array.from(document.querySelectorAll('.fui-hidden'));

    fields.forEach((a) => a.addEventListener('change', () => {
      if (fields.filter(field => field.value).length === fields.length) {
        const fd = new FormData(document.querySelector('form'))
        // loader 
        fetch('/Api/available', {
          // inbouwen een wacht melding 
          // eventhandlers 
          // response heeft een .final die altijd wordt uitgevoerd, eventueel gebruiken om de loader weg te halen 
          method: 'POST',
          body: fd,
        }).then(response => response.json()).then((res) => {
          if (res.success) {
            hiddenFields.forEach(e => e.classList.remove('fui-hidden'))
          } else {
            hiddenFields.forEach(e => e.classList.add('fui-hidden'))
          }
        })
      }
    })
    )
  }
  )();

</script>



{% endblock %}