{% extends "html.twig" %}

{% set docTitle = 'Homepage' %}

{% set bodyAttributes = {
class: 'ltr'
}%}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block body %}

<div id="main">

  <div class="container">
    <div class="mainContent">
      <div class="formulier">
        <div class="loader__wrapper hidden" id="loader__wrapper">
          <div class="loader"></div>
        </div>
        <div id="formulier">
          {% set form = craft.formie.forms.handle('kalender').all() %}
          {{ craft.formie.renderForm('kalender') }}
        </div>
      </div>
    </div>
    <div class="mainContent">
      {% set previewImage = entry.previewImage.one() %}
      <img src="{{ previewImage.getUrl('') }}" alt="{{ previewImage.title }}">
    </div>
  </div>
</div>

<script>
  (() => {
    const allFields = Array.from(document.querySelectorAll('[name="fields[voornaam]"],[name="fields[achternaam]"],[name="fields[aantalPersonen]"],[name="fields[adres][address1]"],[name="fields[adres][address2]"],[name="fields[adres][city]"],[name="fields[adres][state]"], [name="fields[aankomstDatum][datetime]"], [name="fields[vertrekDatum][datetime]"], [name="fields[drop]"]'));
    const fields = Array.from(document.querySelectorAll(' [name="fields[aankomstDatum][datetime]"], [name="fields[vertrekDatum][datetime]"], [name="fields[drop]"]'));
    const hiddenFields = Array.from(document.querySelectorAll('.fui-hidden'));
    const Submit = Array.from(document.querySelectorAll('[data-submit-action="submit"]'))
    Submit.forEach(e => e.disabled = true)
    fields.forEach((a) => a.addEventListener('change', () => {
      if (fields.filter(field => field.value).length === fields.length) {
        document.getElementById("loader__wrapper").classList.remove('hidden')
        const fd = new FormData(document.querySelector('form'))
        fd.delete('action');
        fields.forEach(element => element.disabled = true)
        fetch('/Api/available', {
          method: 'POST',
          body: fd,
        }).then(response => response.json()).then((res) => {
          document.getElementById("loader__wrapper").classList.add('hidden')
          fields.forEach(element => element.disabled = false);
          if (res.success) {
            hiddenFields.forEach(e => e.classList.remove('fui-hidden'))
          }
        })
      } else {
        hiddenFields.forEach(e => e.classList.add('fui-hidden'))
        Submit.forEach(e => e.disabled = true)
      }
    })
    )
    allFields.forEach((a) => a.addEventListener('change', () => {
      if (allFields.filter(field => field.value).length === allFields.length) {
        Submit.forEach(e => e.disabled = false)
      } else {
        Submit.forEach(e => e.disabled = true)
      }
    }))
  }
  )();
</script>

{% endblock %}